@import "node_modules/ol/ol.css";

:root {
  --cor-background: rgb(255, 255, 255);
  --cor-secundaria: #3b71ca;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  height: 100%;
  background-color: var(--cor-background);
}

#logo {
  display: flex;
  justify-content: center;
}

#logo1 {
  float: left;
  display: flex;
  margin-top: 645px;
}

#teste {
  text-align: center;
  color: black;
}

#text {
  background-color: var(--cor-secundaria);
  color: white;
}

#formulario {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: black;
}

#map {
  position: absolute;
  top: 0;
  bottom: 0;
  width: 100%;
}

.sidebar {
  height: 100%;
  width: 0;
  position: fixed;
  top: 0;
  right: 0;
  background-color: var(--cor-background);
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 40px;
  z-index: 1000;
  position: absolute;
}

.container {
  display: flex;
  justify-content: center;
}

/* Estilo para os ícones de perigo */
.danger-icon {
  font-size: 24px;
  color: red;
  position: absolute;
  z-index: 1000;
}

/* Estilo para o conteúdo da barra lateral */
.sidebar-content {
  padding: 20px;
  color: white;
}

/* Estilo para o botão de abertura da barra lateral */
#openSidebar {
  position: fixed;
  top: 20px;
  right: 20px;
  border: none;
  background: none;
  cursor: pointer;
  z-index: 1001;
}

#toggleLayerButton {
  position: fixed;
  top: 100px;
  left: 20px;
  border: none;
  color: white;
  background: none;
  cursor: pointer;
  z-index: 1001;
}

#toggleLayerButton img {
  width: 50px;
}

#openSidebar img {
  width: 50px;
}

/* Estilo para o botão de fechamento da barra lateral */
#closeSidebar {
  position: absolute;
  top: 20px;
  left: 20px;
  background-color: var(--cor-secundaria);
  color: white;
  padding: 10px 15px;
  border: none;
  cursor: pointer;
}

.context-menu {
  display: none;
}

#mensagem-sucesso {
  text-align: center;
  background-color: #ffffff;
  padding: 20px;
  border-radius: 15px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.9);
  position: fixed;
  z-index: 1;
  border: 1px solid;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

#mensagem-sucesso i {
  font-size: 40px;
  color: green;
}

#confirmar-local {
  text-align: center;
  background-color: var(--cor-secundaria);
  color: white;
  padding: 20px;
  border-radius: 15px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.9);
  position: fixed;
  z-index: 1;
  border: 1px solid;
  top: 20%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-weight: lighter;
}

#button-check1,
#button-check2 {
  padding: 5px;
  border-radius: 7px;
  border: none;
  background-color: white;
}

#button-check1 i.fa-check-circle {
  color: green;
}

#button-check2 i.fa-times-circle {
  color: red;
}

#home-barra-midias-sociais-not {
  float: right;
  margin-top: 710px;
  margin-right: 50px;
}

.home-barra-midias-sociais-not-interna {
  display: flex;
}

.home-barra-midias-sociais-item-not {
  padding: 10px;
}